<configuration>
  <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.OpenTelemetryAppender">
    <endpoint>http://otel-collector.monitoring:4317</endpoint>
    <resourceAttributes>service.name=exemplo-camel</resourceAttributes>
  </appender>

  <root level="INFO">
    <appender-ref ref="OTEL"/>
  </root>
</configuration>